body {
    display: flex;
    background-color: #EBEBEB;
    margin: 0;
    padding: 0;
    transition: .3s;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

/*h1 {*/
/*    display: flex;*/
/*    height: fit-content;*/
/*    margin: 50px auto;*/
/*    padding: 0;*/
/*    z-index: 2;*/
/*}*/

/*.main {*/
/*    display: flex;*/
/*    flex-flow: column;*/
/*}*/