.button {
    display: flex;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: none;
}

.button:hover {
    cursor: pointer;
    background: #EBEBEB;
    transition: .3s;
}

.img {
    margin: auto;
}