@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    display: flex;
    background-color: #EBEBEB;
    margin: 0;
    padding: 0;
    transition: .3s;
    overflow-y: scroll;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #2F2F2F;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

header, footer {
    display: flex;
    width: 100%;
    margin: 50px auto;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 0;
    color: #2F2F2F;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 700;
    font-size: 64px;
}