.layout {
    margin: auto;
}

.link {
    margin: auto;
    text-decoration: none;
    color: #d0cfcf;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: .3s;
}

.link:hover {
    color: #bebebe;
    transition: .3s;
}