.editor {
    display: flex;
    flex-flow: column;
    width: 45%;
    margin: auto;
}

.editorH1 {
    cursor: pointer;
}

.h2 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #2F2F2F;
    padding: 0;
    margin: 0;
}