@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.editor {
    display: flex;
    flex-flow: column;
    width: 45%;
    margin: 30px auto 60px auto;
    position: relative;
}

.data {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: 10px auto 30px 0;
}

.h1 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #2F2F2F;
    padding: 0;
    margin: 0;
}

.h2 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #2F2F2F;
    padding: 0;
    margin: 0;
}

.serviceButtons {
    display: flex;
    position: absolute;
    right: 0;
    top: 15px;
    gap: 15px;
}