.editor {
    display: flex;
    flex-flow: column;
    width: 45%;
    margin: 30px auto 60px auto;
    position: relative;
}

.data {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: 10px auto 30px 0;
}

.h2 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #2F2F2F;
    padding: 0;
    margin: 0;
}

.serviceButtons {
    display: flex;
    position: absolute;
    right: 0;
    top: 15px;
    gap: 15px;
}