.list {
    display: flex;
    gap: 20px;
}

.item {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 600;
    margin: 0;
    border: 0;
    border-radius: 16px;
    background-color: #FFF;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    font-size: 20px;
    outline: none;
}

.item:hover {
    cursor: pointer;
}