.block {
    display: flex;
    border-radius: 16px;
}

.text {
    margin: auto 0;
    padding: 0;
    color: #2F2F2F;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.icon {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
}

.img {
    display: flex;
    margin: auto;
}