.block {
    display: flex;
    border-radius: 16px;
}

.text {
    margin: 0;
    padding: 0;
    color: #2F2F2F;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 600;
    font-size: 22px;
}