.fileInput {
    display: flex;
    background-color: #FFF;
    border-radius: 16px;
    width: 100%;
    height: 80px;
    cursor: pointer;
    transition: .3s;
}

.fileInput:hover {
    cursor: pointer;
    transition: .3s;
}

.input {
    display: none;
}

.text {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #2F2F2F;
    padding: 0;
    margin: auto;
}