.settings {
    flex-flow: column;
}

.h3 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #2F2F2F;
    padding: 0;
    margin: 0 0 20px 0;
}

.password {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: 0;
    border-radius: 16px;
    box-sizing: border-box;
    width: 200px;
    height: 60px;
    padding-left: 12px;
    outline: none;
}

.item:hover {
    background-color: aqua;
}