.noPage {
    display: flex;
    flex-flow: column;
    width: 45%;
    margin: 30px auto 60px auto;
    position: relative;
}

.h1 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #2F2F2F;
    padding: 0;
    margin: 0 0 20px 0;
}

.h2 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #2F2F2F;
    padding: 0;
    margin: 0;
}